<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
<h1 style="text-align: center">Login</h1>

<div style="text-align: center">
    <form action="submit" method="post">{% csrf_token %}
        <label>Usuário:</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>

    {% for message in messages %}
    <strong>Erro  </strong> {{ message }}
    {% endfor %}
</div>
</body>
</html>